In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
columns_to_drop=['PassengerId','Name','Cabin','Ticket','Embarked']

In [7]:
data_clean=df.drop(columns_to_drop,axis=1)

In [8]:
data_clean.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder()

In [11]:
data_clean['Sex']=le.fit_transform(data_clean['Sex'])

In [12]:
data_clean.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [13]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [14]:
data_clean=data_clean.fillna(data_clean['Age'].mean())

In [16]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [20]:
#in pandas we use loc to access rows and columns
data_clean.loc[2]

Survived     1.000
Pclass       3.000
Sex          0.000
Age         26.000
SibSp        0.000
Parch        0.000
Fare         7.925
Name: 2, dtype: float64

In [21]:
input_col=['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']
output_col=['Survived']

X=data_clean[input_col]
Y=data_clean[output_col]

print(X.shape,Y.shape)

(891, 6) (891, 1)

In [32]:
a=np.array([1,1,0,0,1])

count=np.unique(a,return_counts=True)

print(count)
print(a.shape[0])

(array([0, 1]), array([2, 3]))
5

In [29]:
def entropy(col):
    
    count=np.unique(col,return_counts=True)
    N=float(col.shape[0])
    
    entropy=0.0
    
    for ix in count[1]:
        p=ix/N
        entropy+=(-1.0*p*np.log2(p))
    return entropy

In [36]:
def divide_data(x_data,fkey,fval):
    
    x_right=pd.DataFrame([],columns=x_data.columns)
    x_left=pd.DataFrame([],columns=x_data.columns)
    
    for i in range(x_data.shape[0]):
        val=x_data[fkey].loc[i]
        
        if val>fval:
            x_right=x_right.append(x_data.loc[i]) #copying whole row
        else:
            x_left=x_left.append(x_data.loc[i])
    return x_left,x_right

In [39]:
#x_left,x_right=divide_data(data_clean,'Sex',0.5)
#print(x_left)
#print(x_right)

In [40]:
def information_gain(x_data,fkey,fval):
    left,right=divide_data(x_data,fkey,fval)
    
    # % of total samples on left and right 
    l=float(left.shape[0])/x_data.shape[0]
    r=float(right.shape[0])/x_data.shape[0]
    
    # all examples are on same side
    if left.shape[0]==0 or right.shape[0]==0:
        return -1000000; #minimum information gain
    
    i_gain=entropy(x_data.Survived)- (l*entropy(left.Survived)+r*entropy(right.Survived))
    return i_gain

In [41]:
for fx in X.columns:
    print(fx)
    print(information_gain(data_clean,fx,data_clean[fx].mean()))

Pclass
0.07579362743608165
Sex
0.2176601066606142
Age
0.001158644038169343
SibSp
0.009584541813400071
Parch
0.015380754493137694
Fare
0.042140692838995464

In [45]:
class DecisionTree:
    
    def __init__(self,depth=0,max_depth=5):
        self.left=None
        self.right=None
        self.fkey=None
        self.fval=None
        self.max_depth=max_depth
        self.depth=depth
        self.target=None
    
    def train(self,X_train):
        features=['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']
        info_gain=[]
        
        for ix in features:
            i_gain=information_gain(X_train,ix,X_train[ix].mean())
            info_gain.append(i_gain)
            
        self.fkey=features[np.argmax(info_gain)]
        self.fval=X_train[self.fkey].mean()
        print("Making tree feature is",self.fkey)
        
        #split data
        data_left,data_right=divide_data(X_train,self.fkey,self.fval)
        data_left=data_left.reset_index(drop=True)
        data_right=data_right.reset_index(drop=True)
        
        #truly a leaf node
        #acting as base 
        if data_left.shape[0]==0 or data_right.shape[0]==0:
            if X_train.Survived.mean()>0.5:
                self.target='Survived'
            else:
                self.target='Dead'
            return
        
        #stop early when depth>=max_depth
        #acting as base 
        if(self.depth>=self.max_depth):
            if X_train.Survived.mean()>0.5:
                self.target='Survived'
            else:
                self.target='Dead'
            return
        
        #Recursive case
        self.left=DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.train(data_left)
        
        self.right=DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(data_left)
        
        #Set target value at every node
        if X_train.Survived.mean()>0.5:
            self.target='Survived'
        else:
            self.target='Dead'
        return

In [46]:
d=DecisionTree()
d.train(data_clean)

Making tree feature is Sex
Making tree feature is Pclass
Making tree feature is Pclass
Making tree feature is Parch
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Parch
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Pclass
Making tree feature is Parch
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Parch
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Pclass
Making tree feature is Pclass
Making tree feature is Parch
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Parch
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Pclass
Making tree feature is Parch
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Parch
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age
Making tree feature is Age