In [ ]:
# writing data in p.csv file
f=open('CONTRIBUTERS.md','r')
f1=open('p.csv','w')
f1.write('Name,Github\n')
f.readline()
f.readline()
# f1.write("{'CONTRIBUTERS-DETAILS':[")
d=dict()
for i in f:
    i=i.split('|')
    name=i[1].strip()
    username=i[2].split('[@')[1].split(']')[0].strip()
    f1.write(name+','+username+'\n')
#     d[username]=name
#     print()
# f1.write("]}")
f.close()
f1.close()

In [46]:
# start saving data in CONTRIBUTERS.md file
f=open('CONTRIBUTERS.md','r')
f1=open('CONTRIBUTERS.csv','w')
f1.write('Name,Github,Starred repo\n')

f.readline()
f.readline()
for i in f:
    i=i.split('|')
    name=i[1].strip()
    username=i[2].split('[@')[1].split(']')[0].strip()
    starred_repo=i[3].strip()
    f1.write(name+','+username+','+starred_repo+'\n')
f.close()
f1.close()
# End of data saved in CONTRIBUTERS.md file 

import pandas as pd
df=pd.read_csv('CONTRIBUTERS.csv')

# user who starred the repo
df1=df[df['Starred repo']==1]
df1=df1.sort_values('Name')

# user who doesnot starred the repo
df2=df[df['Starred repo']==0]
df2=df2.sort_values('Name')


# merging both in one dataframe and storred in CONTRIBUTERS.csv file
df = pd.concat([df1, df2], axis=0, sort=False)
df.to_csv('CONTRIBUTERS.csv')


# start coding for saving the code in file
f=open('result.md','w')
f.write('<table>\n<tr>')
c=0
for i,j,k in zip(df['Name'],df['Github'],df['Starred repo']):
    if c==6:
        f.write('</tr>\n<tr>')
        c=0
    c+=1
    html='''<td align="center"><a href="https://github.com/{0}"><img src="https://avatars3.githubusercontent.com/{0}?size=400" width="100px;" alt=""/><br /><sub><b>{1}</b></sub></a><br /><a href="https://github.com/keshavsingh4522/hacktoberfest2020/commits?author={0}" title="Code"> :computer: </a> '''.format(j,i)
    f.write(html)
    
    if k==1:
        star_a="<a href='https://github.com/keshavsingh4522/hacktoberfest2020/stargazers' title='starred the repo'> :star2: </a> "        
        f.write(star_a+'</td>\n')
    else:
        f.write('</td>\n')
f.write('</tr>')
f.write('</table>')
f.close()
# End coding for saving the code in file

                   Name           Github  Starred repo
9            Aman Gupta        find-aman             1
0          Keshav Singh  keshavsingh4522             1
57       Kritik Agarwal   Agarwal-Kritik             1
61           Krosskid12       Krosskid12             1
44  Kwame Violet Taylor      KwameTaylor             1
23        Mayank Sharma       MayankGeek             1
63         Namita Mutha      namitamutha             1
45    Tanmay Khandelwal         Dude-901             1
22              VAJRESH          VAJRESH             1
64     Yashi Srivastava           yashii             1
62            lidonghui              ldh             1

                 Name              Github  Starred repo
1   Abhay Pratap Rana      officialmrknox             0
47    AbuBakar Sheikh  onymousproduktions             0
19          Aman Jain            amanjain             0
24      Ananya Sajwan          ananya2407             0
43      Ananya Sharma      AnanyaSharma22             0

In [25]:
result = pd.concat([df1, df2], axis=0, sort=False)

In [31]:
for i in result['Name']:
    print(i)

Aman Gupta
Keshav Singh
Kritik Agarwal
Krosskid12
Kwame Violet Taylor
Mayank Sharma
Namita Mutha
Tanmay Khandelwal
VAJRESH
Yashi Srivastava
lidonghui
Abhay Pratap Rana
AbuBakar Sheikh
Aman Jain
Ananya Sajwan
Ananya Sharma
Anirudh Bagri
Ankit Sharma
Arigato haxroot
Arisandi
Ashish
B Rahul
Bilal Ahmad
Crowfunder
Dakshay Ahuja
Deepakshi Sood
Divy
Dung T. Vo
Ganzabahl
Hero Tiwari
Ibad Mukrom
Iris ALmeida
Juli Cheng
Justinus Hermawan
Kanishk J
Maninderjit Singh
Misa Dravid
Misbahud Din
Mitadru Datta
Mitarth Jain
Mohan
Muhammad Bilal
Musadiq Peerzada
Nikhil Chapre
Nikhil Sachan
Niraj Dhalani
Phagun Jain
Pranjal Soni
Pratik Shirodkar
Raghav Agarwal
Richard Timothy
Rithvik Ayithapu
Ritik Bagora
Rupali
Sandi Aris
Sanidhya Breja
Sarthak Shastri
Satyam Gadekar
Saurav Navdhare
Shaunak Deshpande
Shruti Jha
Siddarth Awasthi
Sumit Soni
Swayamsidh Nayak
Vatsal Narwal